
{% extends 'music/base.html' %}


{% block title %}
    detalles
{% endblock %}

{% block body %}

        <img src="{{ album.imagen }}">
        <h1>{{ album.titulo_album }}</h1>
        <h3>{{ album.artista }}</h3>



        {% if error %}

        <p><strong>error</strong></p>

        {% endif %}

        <form action="{% url 'music:fav' album.id%}" method="post">
            {%  csrf_token %}

            {%  for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                <label for="song{{ forloop.counter }}">
                {{ song.titulocancion }}
                {% if song.isFav %}

                    <img src="http://d27evk36qsa75y.cloudfront.net/impl_img/star_highlight.gif">

                {% endif %}
        <br>

                </label>
            {% endfor %}
        <input type="submit" value="Favorite">

        </form>

{% endblock %}