{% extends 'music/base.html' %}


{% block title %}
    albumes
{% endblock %}
{% block body %}
{% if all_albums %}

    <ul>
    <li>
        {% for album in all_albums%}


            <a href="{% url 'music:detail' album.id%}">{{ album.titulo_album }}</a><br>

        {% endfor %}

    </li>


    </ul>

    {% else %}

        <h3>vacio</h3>

    {% endif %}


{% endblock %}